@media (width < height) {
    #b p {
        font-size: 4em;
    }
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0px;
    color: rgb(35, 35, 35);
}

#top_contact {
    font-size: 1.5em;
    padding: 0em 0em 0em 1em;
    display: flex;
    flex-direction: row;
}

#top_contact img {
    height: 2em;
    margin: 0.5em 0em;
    position: absolute;
    right: 2em;
}

#head {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0em;
    background-image: url("assets/stock mechanic.jpg");
    background-size:cover;
    background-position-y: center;
}

#logo_main {
    width: 40em;
    margin-bottom: 0.5em;
}

#logo_second {
    width: 20em;
}

#a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#a > div {
    margin: 2em 5em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#a > div > img {
    width: 3.5em;
}

#b {
    width: 100%;
    margin: 2em 0em 1em 0em;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#b p {
    margin: 0.5em 0em;
}

#c {
    width: 100%;
    margin: 2em 0em 0em 0em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#c h1 {
    font-weight: 100;
}

#c div {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 0em;
    font-size: 2em;
    text-align: center;
    background-color: #e9f8ff;
    color: #1bb7ff;
    padding: 0.5em;
    width: 13em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}

#c img {
    height: 1em;
    margin: 0em 0.5em 0em 0em;
}

#c p {
    margin: 0em;
}

#d {
    width: 100%;
    margin: 7em 0em 15em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#d a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    text-decoration: none;
    color: white;
    background-color: #1bb7ff;
    padding: 1em;
    border-radius: 0.5em;
}@media (width < height) {
    #b p {
        font-size: 2em;
    }
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0px;
    color: rgb(35, 35, 35);
}

#top_contact {
    font-size: 1.5em;
    padding: 0em 0em 0em 1em;
    display: flex;
    flex-direction: row;
}

#top_contact img {
    height: 2em;
    margin: 0.5em 0em;
    position: absolute;
    right: 2em;
}

#head {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0em;
    background-image: url("assets/stock mechanic.jpg");
    background-size:cover;
    background-position-y: center;
}

#logo_main {
    width: 40em;
    margin-bottom: 0.5em;
}

#logo_second {
    width: 20em;
}

#a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#a > div {
    margin: 2em 5em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#a > div > img {
    width: 3.5em;
}

#b {
    width: 100%;
    margin: 2em 0em 1em 0em;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#b p {
    margin: 0.5em 0em;
}

#c {
    width: 100%;
    margin: 2em 0em 0em 0em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#c h1 {
    font-weight: 100;
}

#c div {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 0em;
    font-size: 2em;
    text-align: center;
    background-color: #e9f8ff;
    color: #1bb7ff;
    padding: 0.5em;
    width: 13em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}

#c img {
    height: 1em;
    margin: 0em 0.5em 0em 0em;
}

#c p {
    margin: 0em;
}

#d {
    width: 100%;
    margin: 7em 0em 15em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#d a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    text-decoration: none;
    color: white;
    background-color: #1bb7ff;
    padding: 1em;
    border-radius: 0.5em;
}
